In [1]:
import pandas as pd
import numpy as np

In [4]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados  = pd.read_csv(uri)
dados

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [6]:
x = dados[['home', 'how_it_works','contact' ]]
y = dados['bought']

In [13]:
mapa = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [16]:
x= dados[["principal","como_funciona","contato"]]
y= dados[["comprou"]]

x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [17]:
dados.shape

(99, 4)

In [24]:
treino_x = x[:75]
teste_x = x[75:]
treino_y = y[:75]
teste_y = y[75:]
print(f'treino{len(treino_x)} teste {len(teste_x)}')

treino75 teste 24

In [50]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [49]:
modelo = LinearSVC()
treino = modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x,)

C:\Users\vitor\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [62]:
taxa_de_acerto = accuracy_score(teste_y, previsoes)
print(f'Acuracia foi de {round(taxa_de_acerto*100,2) }%')

Acuracia foi de 95.83%

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

C:\Users\vitor\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [85]:
print(treino_x.shape)

(74, 3)